body {
    font-family: Arial, sans-serif;
    background-color: #e3e7d8c8;
    padding: 20px;
  }
  
  *{
    border-radius: 15px;
    align-content: center;
  }

  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .inputTask {
    width: 60%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  